.App {
  display: flex;
  align-items: center;
  height: 70px;
  background-color: #61dafb;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
}

.body {
  height: 100vh;
  background-color: black;

}

.wrapper { 
  display: flex;
  justify-content: left;
  align-content: center;
  
  background-color: white;
  height: 70%;
  width: 80%;
  margin-left: 10%;
  
}
.navDisplay {
  position: absolute;
  right: 150px;
  text-align: right;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
}
.navbar {
  position: absolute;
  bottom: 190px;
  text-align: center;
}
.preview {
  position: absolute;
  left:0;
}
.Next {
  position: absolute;
  right:0px;
  margin-right: 0;
}
.newForm {

  
 
}